// globals
:root {
   --color-primary: #113377;
   --color-secondary: #568ea3;
   --color-black: #1e1e1e;
   --color-white: #fbf9ff;

   --content-max-width: 62.5rem;
   --toolbar-default-width: calc(4 / 13 * var(--content-max-width));
   --display-default-width: calc(9 / 13 * var(--content-max-width));
}

// use border-box on all
*,
*::before,
*::after {
   box-sizing: border-box;
}

button {
   border: none;
}

body,
html {
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-weight: 400;
   color: var(--color-black);
   background: var(--color-white);
}

a {
   text-decoration: none;
   color: var(--color-black);
}

// remove text selection
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

// remove scrollbar
.noscrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;

   &::-webkit-scrollbar {
      display: none;
   }
}

// ----- layout troubleshooting (uncomment to view all borders) -----
// * {
//    background: #000 !important;
//    color: #0f0 !important;
//    outline: solid #f00 1px !important;
// }
