.showcase {
   display: flex;
   flex-direction: column;

   &__image {
      border-radius: 1rem;
      overflow: hidden;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2,
      h3,
      p {
         margin: 0;
         padding: 0;
         font-size: 0.75rem;
      }

      h2 {
         font-size: 1rem;
      }

      opacity: 1;
      transition: all 150ms ease;
   }

   &:not(:hover) &__content {
      opacity: 0;
      transform: translateY(-1rem);
   }
}
