.container {
   --button-size: 3.125rem;
   --button-gap: 0.75rem;
   --canvas-size: 112px;

   display: flex;
   gap: var(--button-gap);
   justify-content: center;

   .interactRegion {
      display: flex;
      flex-direction: column;
      gap: var(--button-gap);

      .input {
         display: flex;
         gap: var(--button-gap);
      }
   }

   .output {
      display: flex;
      gap: var(--button-gap);
      width: calc(4 * var(--button-size) + 3 * var(--button-gap));
      flex-wrap: wrap;

      .clear {
         display: flex;
         justify-content: center;
         align-items: center;
         width: calc(2 * var(--button-size) + var(--button-gap));
         height: var(--button-size);
         cursor: pointer;
         background: #aaa;
      }

      .value {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: var(--button-size);
         height: var(--button-size);
         padding: 0.25rem;
         cursor: pointer;

         .gray {
            background: #aaa;
         }

         .green {
            background: #7c7;
         }

         .orange {
            background: #fa0;
         }

         .red {
            background: #c77;
         }

         .active {
            background: pink;
         }
      }
   }
}
