.section {
   padding: 6.25rem 0;
   position: relative;

   @media screen and (max-width: 46.875rem) {
      max-height: none !important;
   }

   .content,
   .noContent {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   .content {
      width: var(--content-width);
      margin: 0 auto;
   }
}
