.overlay__container {
   display: flex;
   gap: 2px;
   background-color: var(--color-secondary);

   width: 100%;
   height: 100%;

   .overlay__sidebar {
      width: 4rem;
      position: relative;

      &::after {
         content: '';
         position: absolute;
         right: 0px;
         width: 2px;
         top: 1.25rem;
         bottom: 1.25rem;
         background-color: var(--color-white);
      }

      display: flex;
      justify-content: center;

      padding: 1rem 0;

      > svg {
         width: 2rem;
         height: 2rem;

         path {
            transition: all 150ms ease;
            stroke: var(--color-white);
         }
      }
   }

   .overlay__content {
      width: 100%;
      flex-shrink: 1;
      color: var(--color-white);

      padding: 0.75rem;
   }
}
