.contentContainer {
   color: var(--color-black);
   background-color: var(--color-white);
   transition: background-color var(--theme-transition) ease;

   h1 {
      font-weight: 100;
      margin: 0;
      padding: 0;
   }

   padding: 2rem 0;
}

.home,
.contact {
   color: var(--color-white);
   background-color: var(--color-black);

   // :global(.theme-dark) & {
   // }
}

.research {
   color: var(--color-white);
   background-color: var(--color-secondary);

   :global(.theme-dark) & {
      background-color: var(--color-primary);
   }
}

.home,
.portfolio,
.contact {
   min-height: 100vh;
}
