.contentContainer {
   color: var(--color-black);
   background-color: var(--color-white);
   transition: background-color var(--theme-transition) ease;

   h1 {
      font-weight: 100;
      margin: 0;
      padding: 0;
   }

   padding: 2rem 0;
}

.home,
.contact {
   color: var(--color-white);
   background-color: var(--color-black);
}

.research {
   color: var(--color-white);
   background-color: var(--color-secondary);

   :global(.theme-dark) & {
      background-color: var(--color-primary);
   }
}

.home,
.portfolio,
.contact {
   min-height: 100vh;
}

.portfolio .imageContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   padding: 1rem;

   width: 1024px;
   margin: 0 auto;
   background-color: var(--color-white);

   & > * {
      flex: 0 0 calc(100% / 2 - 3rem);
   }
}
